body, html {
  /* height: 100%; */
  margin: 0;
  background-color: black;
  font-size: 4px;
  font-family: sans-serif;
}

.container {
  text-align: center;
  height: 610px;
  width: 910px;
  /* padding: 1px; */
  box-sizing: border-box;
  place-content: center; 
  background-color: white;
  margin-left: 230px;
  gap: 3px;

}

.container div {
  padding: 8px;
  font-size: 22px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  gap: 2px;
  
}

.header {
  background-color: #FFDE22;
  height: 30px;
  margin-bottom: 3px;
  /* font-size: 4px; */
}

#sinavar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 910px;
  height: 500px;
  margin-bottom: 3px;
  /* padding: 1px; */
}

.navar {
  /* width: 990px; */
  display: flex1;
  place-items: center;
  justify-content: center;
}


.sidebar {
  background-color: #FF7755;
  height: 420px;
  width: 120px;
  margin-top: 0;

}

.nav {
  background-color: #00DDFF;
}

.article {
  background-color: #bccbde;
}

.article p {
  font-size: 12px;
  font-family: sans-serif;
  color: white;
  text-align: left;
  height: 100px;
}

.footer {
  background-color: #393f4d;
  margin-top: -5px;
  height: 30px;
}
