body {
  background-color: black;
}


.header  {
  font-family: monospace;
  background: papayawhip;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 235px;
  margin-left: 200px;
  font-weight: 500;
  padding: 12px;
  width: 950px;
  border: 5px;
  border-color: solid aliceblue;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
}

ul {
  list-style-type: none;
  display: flex;
  padding: 4px;
justify-content: space-around;
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  text-decoration: none;
  display: flex;
  color: blue;
  margin-left: 38px;
  margin-right: 38px
  ;
}